@font-face {
  font-family: 'Stack Sans Text';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(kJErBuAJ-Q0hiGPmzHEu345X1JJnCry4J4xpmA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: linear-gradient(to top, #1c1c1c, #282828) fixed;
    color: #e0e0e0;
    font-family: 'Stack Sans Text', sans-serif;
    justify-content: center;
    align-items: center;
}

.container, .headline {
    text-align: left;
    padding: 20px 40px;
    max-width: 500px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(55, 55, 55);
    position: relative;
    top: 50px;
}

.container {
    border-radius: 0 0 20px 20px;
}

.headline {
    background-color: rgb(248, 215, 84);
    background-color: linear-gradient(90deg, rgba(248, 215, 84, 1) 0%, rgb(224, 188, 46) 100%);
    border-radius: 20px 20px 0 0;
}
#taskList {
    list-style-type: none;
    padding-left: 0 !important;
    margin-left: 0;
}
.hover {
    background-color: rgb(248, 215, 84);
    border-radius: 100px;
    width: 25px;
    height: 25px;
    border: 2px solid rgb(248, 215, 84);
    position: absolute;
}
button {
    background-color: rgb(248, 215, 84, 0);
    border-radius: 100px;
    width: 25px;
    height: 25px;
    border: 2px solid rgba(0, 0, 0, 0.506);
    margin: 0 16px 0 0;
    position: absolute;
}
#addTaskButton {
    color: white;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to top, #383737, #2f2f2f) fixed;
    width: 65px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}
#addTaskButton:hover {
    background: linear-gradient(to top, #4b4b4b, #3d3d3d) fixed;
    cursor: pointer;
}
span {
    margin: 0 0 0 40px;
    top: 5px;
}
#submit {
    display: flex;
    width: 100%;
}

#taskInput {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 8px;
    background: linear-gradient(to top, rgb(239, 239, 239), rgb(243, 243, 243));
    border: none;
    border-radius: 5px;
    padding: 0 0 0 8px;
}
li {
    border-bottom: 1px dotted rgb(250, 96, 96);
    position: relative;
    padding: 20px;
}